.catalog-card__title {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @product-name;
}

.catalog-card__button {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 20px;
}

.catalog-card__info-item {
  font-size: 12px;
  line-height: 16px;
}
