.hero {
  font-family: @font-oswald;
  color: @text-content-light;
  //background: linear-gradient(#111111 50%, #ffffff 50%);
  background-image: url("../img/decor-images/cat-hero.jpg"), linear-gradient(to bottom, @brand-color 303px, @background-basic calc(100% - 303px));
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  padding: 27px 0 20px 0;

  @media (min-width: @tablet-width) {
    text-align: start;
    background-color: @background-basic;
    background-image: none;
    padding-top: 65px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/decor-images/cat-hero.jpg"), linear-gradient(90deg, @background-basic 50%, @brand-color 50%);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 185px;
    margin-top: -75px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.hero__button {
  @media (min-width: @tablet-width) {
    margin-left: 90px;
  }
}


