.hero {
  font-family: @font-oswald;
  color: @base-white;
}

.hero__title {
  color: @base-white;
  text-align: center;
  background-color: @base-green;
}

.main-container__intro {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: @base-green;
  text-transform: uppercase;
}
