.info-link__logo {
  display: block;
  height: 24px;
  width: 128px;
  padding: 20px 0;
  box-sizing: content-box;

  @media (min-width: @tablet-width) {
    padding-right: 40px;
  }

  &:hover .info-link__cat-logo {
    fill: #3e3e3e;
  }

  &:active .info-link__cat-logo {
    fill: #6b6b6b;
  }
}

.info-link__logo .info-link__cat-logo {
  fill: #111111;
}

.info-link__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
