.location__diller {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 20px;
  color: @title-basic;
  text-transform: uppercase;
}

.location__address {
  font-style: normal;
  line-height: 20px;
}
