.main-container__title {
  color: @base-black;
  font-family: @font-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-container__title--hero {
  color: @base-white;
  text-align: center;
  background-color: @base-green;
}

.main-container__intro {
  font-family: @font-oswald;
  font-size: 14px;
  line-height: 18px;
  color: @base-black;
  text-transform: uppercase;
}

.main-container__intro--hero {
  line-height: 14px;
  text-align: center;
  color: @base-white;
  background-color: @base-green;
}
