.page__body {
  font-family: @font-lato;
  font-size: 14px;
  line-height: 18px;
  color: @text-content;
  background-color: @background-basic;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body-background {
  padding: 0;

  @media (min-width: @desktop-width) {
    padding-top: 30px;
    position: relative;
  }
}

.page__body-background::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../img/decor-images/cat-hero-index-desktop.jpg"), linear-gradient(90deg, transparent 50%, @brand-color 50%);
    background-repeat: no-repeat;
    background-position-x: calc(50% + 360px), 50%;
    background-size: 720px auto, 100%;
    width: 100%;
    height: 694px;
    top: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor-images/cat-hero-index-desktop@2x.jpg"), linear-gradient(90deg, transparent 50%, @brand-color 50%);
      background-size: 720px auto, 100%;
    }
  }
}

.page__body-header {
  padding: 0;

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}
