.products-addition__title {
  font-family: @font-oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @base-black;
}

.product-addition__name {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @very-dark-grey;
  text-transform: uppercase;
}

.product-addition__name-info {
  line-height: 14px;
}

.product-addition__button {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 20px;
}

.products-addition__action {
  font-size: 16px;
  line-height: 20px;
  color: @base-white;
  background-color: @base-green;
  text-align: center;
}
