.sample__title {
  font-family: @font-oswald;
  font-size: 36px;
  line-height: 40px;
  color: @base-black;
  font-weight: 400;
}

.sample__result-info {
  font-size: 12px;
  line-height: 12px;
}

.sample__result-important {
  font-family: @font-oswald;
  font-size: 24px;
  line-height: 24px;
  color: @base-black;
  text-transform: uppercase;
}

.sample__price {
  font-family: @font-oswald;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;
  text-transform: uppercase;
}

.sample {
  background-color: @light-grey;
}
