*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
