//fonts
@font-lato: "Lato", "Arial", sans-serif;
@font-oswald: "Oswald", "Arial", sans-serif;

//colors
@special-dark-grey: #444444;
@base-white: #ffffff;
@base-black: #000000;
@base-green: #68b738;
@very-dark-grey: #222222;
@very-light-grey: #f2f2f2;
@light-grey: #eaeaea;
